%h1 Listing urls

%table
  %tr
    %th url
    %th permalink
    %th Visits
    %th Last Visit
    %th
    %th
    %th

  - @redirections.each do |redirection|
    %tr
      %td= redirection.url_trunc
      %td= link_to redirection.permalink, redirection.url, :class => :preview
      %td= redirection.visits_count
      %td= redirection.updated_at.strftime('%D %R') if redirection.visits_count > 0
      %td= link_to 'Show', redirection
      %td= link_to 'Edit', edit_redirection_path(redirection)
      %td= link_to 'Destroy', redirection, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Redirection', new_redirection_path
