
!!!

%html{html_attrs('fr-fr')}

  %head
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    
  %body
    .wrapper
      .header
        = render :partial => 'site/demo' unless ::Rails.env.eql?('production')
        = render :partial => 'site/header'
      .main
        .top
          = render :partial => 'site/flash', :object => flash
        .content
          = yield
        .bottom
  
      .footer
        = render :partial => 'site/footer'
    
